.header{
  font-size: 50px;
    text-transform: uppercase;
     background:black; 
    color: white;
    font-weight: 900;
    text-align: center;
}


body{
  background-image: url("./img/bg-teal.jpg");
}
.centerbody{
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

a{
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  color: black;
}

.sub-heading{
  font-size: 40px;
    text-transform: uppercase;
    font-weight: 600;
}
